.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); 
    background-size: 100%;
    color: white;
    font-weight: bolder;
}

.container {
    width: 950px;
}

#showing-articles {
    width: 900px;
    text-align: justify;
}

#button-holder {
    padding: 20px;
}

#all-art-btn,
#saved-art-btn {
    background-color: #227bbd;
}

.delete-comment,
.add-comment,
.saveArticle {
    color: white;
    background-color: #d62021;
    border-radius: 14px;
}

