.wrapper {
    width: 900px;
}

#showing-articles {
    width: 900px;
    text-align: justify;
}

#button-holder {
    padding: 20px;
}

#all-art-btn,
#saved-art-btn {
    background-color: #227bbd;
}

.add-comment,
.saveArticle {
    color: white;
    background-color: #d62021;
    border-radius: 25px;
}

