.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1504711434969-e33886168f5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60); 
    background-size: 100%;
    color: white;
    font-weight: bolder;
}

#button-holder {
    padding: 20px;
}

#scrape-art-btn {
    background-color: #227bbd;
    color: white;   
}

.delete-comment,
.add-comment,
.saveArticle {
    color: white;
    background-color: #d62021;
    margin-top: 10px;
}

.delete-comment {
    border-radius: 10px;
}

.link {
    font-weight: bold;
    color: #227bbd;
}

.ind-art,
.sav-art {
    border: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #EBF4F4;
}

h1 {
    text-align: center;
}

#headline {
    font-weight: bold;
    font-size: 60px;
}